<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Business</title>
</head>
<body>
    <h1>Update Business</h1>
    <form action="/business/<%= business.id %>?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="business[title]" value="<%= business.title %>">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="business[location]" value="<%= business.location %>">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="business[description]" value="<%= business.description %>">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Update Business</button>
        </div>
        <div class="mb-3">
            <a href="/business/<%= business.id %>">Back</a>
    </form>
</body>
</html>